.loginWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#forgotPassword {    
    text-align: center;
    margin-top: 1rem;
    color: crimson;
    cursor: pointer;
}