.my-component {
    background-size: cover;
    background-position: center;
    /* Add any additional styling for the component */
  }
  
  .main-title {
    color: white
  }
  
  .subtitles {
    color: white

  }
  
  .subtitles h2 {
    /* Add styling for the individual subtitles */
  }
  