.searchFieldsWrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.searchButton {
  background-color: crimson;
  height: 3rem;
  color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#searchContainer {
  margin-right: 1rem;
}