.landingContainer {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  height: 65vh;
  background:linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  padding: 1.5rem 3rem 0 2rem;
}

.navbarElements {
  display: flex;
  justify-content: right; 
  
  color: white;
  font-size: 1rem;
}

.landingPageButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: #e4dddd;
}

.centerContainer {
  display: flex;
  justify-content: space-around;
  color: white;
}

.landingPageBtn {
  margin-right: 1rem;
  background-color: rgb(63, 76, 119);
  color: white;
  border-radius: 25px;
  height: 3rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.mainImg {
  height: 50vh;
  width: 25vw;
  padding-top: 2rem;
}

.mainTitle {
  font-size: 4rem;
  color: white;
  margin-top: 4rem;
}

.popularOption {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  padding: 1px 12px 0;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 4;
}

.popularOption:hover {
  background-color: white;
  color: black
}

.popular {
  display: flex;
  margin-top: 1rem;
  margin-right: 1rem;
  align-items: center;
  justify-content: space-evenly;
}

#navbarTitle {
  font-size: 2rem;
  cursor: pointer;
}

#navbarLogin {
  cursor: pointer;
}

.navbarElement {
  margin-left: 2rem
}
