
 .slides {
    display: flex;
    animation: slideAnimation 10s linear infinite;
    height: 100%;
  }

  
  @keyframes slideAnimation {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-100%);
    }
    45% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(-200%);
    }
    70% {
      transform: translateY(-200%);
    }
    75% {
      transform: translateY(-300%);
    }
    95% {
      transform: translateY(-300%);
    }
    100% {
      transform: translateY(0);
    }
  }
  